body,html{
 
}
/** HEADER **/
#header-nav {
  background-color: #222;
  border-radius: 0;
  border: 0;
  width: 100%;
}

.navbar-brand h1 { /* name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

		#checkin
		{
			background-color: gray;
				padding : 0px 0px 5px 8px;
				border:2px solid black;
				margin: 25px;
				width:200px;
				float:left
		}
		#beef
		{
			background-color: gray;
				padding : 0px 0px 5px 8px;
				border:2px solid black;
				margin: 25px;
				width:200px;
				float:left
		}

		#suchi
		{
			background-color: gray;
				padding : 0px 0px 5px 8px;
				border:2px solid black;
				margin: 25px;
				width:200px;
				float:left

		}

		/**************large devices **************/
		@media (min-width: 1200px)
		{
			#checkin,#beef
			{
				width: 80%;
				height: 60%;
			}
			#suchi
			{
				width: 800px;
			}
		}

		/**************large devices **************/
		@media (min-width: 992px) and (min-width: 1199px)
		{
			#checkin,#beef 
			{
				width: 50%;
				height: 30%;
			}
			#sushi
			{
				width: 80px;
			}

		}