* {box-sizing: border-box; font-size: 25px;}
h1 {font-weight: bold; 
	text-align: center;
	font-size: 1.75em;
}
div {
	background-color: gray; float: left;
}
@media (min-width: 992px) {
	.che{width: 27.33%; border: 1px solid black; float: left; margin: 3%}
}
@media (max-width: 991px) and (min-width: 768px){
	.bef{width: 44%; border: 1px solid black; float: left; margin: 3%;}
	.sus{width: 94%; border: 1px solid black; float: left; margin: 3%;}
}
@media (max-width: 767px){
	.chef{width: 80%; border: 1px solid black; float: left; margin: 10%; margin-top: 5%; margin-bottom: 5%;}
}
.content{
	text-align: right; margin: 10px; background-color: gray;
}
#sushi, #beef, #chicken{
	height:auto; width: 40%; text-align: center; float: right; border-bottom: 1px solid black; border-left: 1px solid black; font-weight: bold; font-size: 1.25em;
}
#chicken{
	background-color: pink; color: black;
}
#beef{
	background-color: red; color: white;
}
#sushi{
	background-color:  yellow; color: black;
}
@media (max-width: 991px) and (min-width: 768px){
	#sushi{width: 20%;}
}
