body,html{
 
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand h1 { /* name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

h1
{
			text-align:  center;
			font-size: 25px;
			padding: 20px;
			margin: 26px;
			text-transform: capitalize;
            font-weight:bold;
			
		}

		@media (min-width: 992px) {
	.col{width: 27.33%; border: 1px solid black; float: left; margin: 3%}
}
@media (max-width: 991px) and (min-width: 768px){
	.col1{width: 44%; border: 1px solid black; float: left; margin: 3%;}
	.col2{width: 94%; border: 1px solid black; float: left; margin: 3%;}
}
@media (max-width: 767px){
	.colm{width: 80%; border: 1px solid black; float: left; margin: 10%; margin-top: 5%; margin-bottom: 5%;}
}
.content{
	clear: right; margin: 10px; background-color: gray; font-family: Century Gothic;
}
.container .jumbotron #chicken{
  text-align: center;
}

@media (max-width: 991px) and (min-width: 768px){
	#sushi{width: 20%;}
} 
